<div class="w-full flex flex-row items-center justify-between">
<div>
    <label class="font-medium">Livraison: {{livraison.reference}}</label>
</div>
<div>
    <span class="text-[10px] px-2 py-px rounded-xl text-white" [style.background-color] = "defineEtat(livraison.etat).color">
    {{defineEtat(livraison.etat).label}}
    </span>
</div>
</div>
<div class="text-xs font-medium">
<label>&nbsp;&nbsp;Lieu: {{livraison.commandes![0].client.adresse}}</label>
</div>
<div class="text-xs">
<label>
    &nbsp;&nbsp;{{livraison.commandes![0].client.codePostal}}, {{ livraison.commandes![0].client.ville }}
</label>
</div>
<div class="flex flex-row mt-2">
@for (commande of livraison.commandes; track $index) {
    <div class="px-1 py-1 mx-2 rounded-xl bg-orange-100 text-sm">
    {{ commande.reference }}
    </div>
}
</div>