<h2 class="font-bold" mat-dialog-title>Créer une journée</h2>
<mat-dialog-content>
  <p>Choisissez la date</p>
  <mat-form-field>
    <mat-label>MM/DD/YYYY</mat-label>
    <input matInput 
            [matDatepicker]="dp3" 
            [(ngModel)]="data.date" 
            [min]="minDate" 
            disabled
            [matDatepickerFilter]="withoutSaturdayAndSundayFilter">
    <mat-datepicker-toggle matIconSuffix [for]="dp3"></mat-datepicker-toggle>
    <mat-datepicker #dp3 disabled="false"></mat-datepicker>
  </mat-form-field>
    <mat-form-field>
      <mat-label>Choisir l'entrepôt</mat-label>
      <mat-select (valueChange)="selectedEntrepot.set($event)">
        @for (entrepot of data.entrepots; track $index) {
          <mat-option [value]="entrepot">{{entrepot.nom}}</mat-option>
        }
      </mat-select>
    </mat-form-field>
</mat-dialog-content>
<mat-dialog-actions>
  <button mat-button (click)="onNoClick()">Annuler</button>
  <button mat-button [mat-dialog-close]="sendData()" cdkFocusInitial>Ok</button>
</mat-dialog-actions>
